h1#title
  a(href="/index") quanBoard
h2 #{board[0].title}
button#ppt show me
div(id="content")
  div(id="notes")
  div(id="new")
    button.create create note
    button.over stopEditing
    div(id="model")
div(id="original_notes")
  p#bgname= board[0].filename
  - each co in comments
    div.comment
      p #{co.id}
      p #{co.text}
      p #{co.pos_x}
      p #{co.pos_y}
      p #{co.width}
      p #{co.height}
     
script(src="/javascripts/jquery-1.3.2.min.js")
script(src="/javascripts/jquery-ui-1.7.2.custom.min.js")
script(src="/javascripts/jquery.stickynotes.js")
script(src="/javascripts/index.js")
